html {
  box-sizing: border-box;
  background-color: #faf2e1;
}
body {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDiv {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 32px;
}
.resetButton {
  background-color: #a19781; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.resetButton:hover {
  background-color: #4caf50; /* Green */
  color: black;
}
.container {
  display: grid;
  background-color: #d4cdbe;
}

.grid {
  transition-duration: 0.3s;
}

.grid:focus {
  background-color: #8881a1;
}

.cell {
  background-color: #8881a1;
}
